﻿@using ASP121.Models.Cosmos;
@{
    ViewData["Title"] = "Azure SQL";
}

<div class="text-center">
    <h1 class="display-4">Бази даних Azure. CosmosDB</h1>
</div>

@if (ViewData["feedbacks"] is List<FeedbackFormModel> list)
{
    foreach (FeedbackFormModel feedback in list)
    {
        <p>
            @feedback.moment:
            @feedback.Name
            @feedback.Message
            <span>Оцінка: </span>
            @feedback.Rating
        </p>
    }
}

<form method="post">
    <h3>Залишити відгук</h3>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Ваше ім'я</label>
        <input type="text" class="form-control" id="exampleFormControlInput1"
               placeholder="nik" name="Name">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Ваше повідомлення</label>
        <textarea class="form-control" id="exampleFormControlTextarea1"
                  rows="3" name="Message"></textarea>
    </div>

 @*   <div class="mb-3">
        <label for="exampleFormControlTextarea2" class="form-label">Оцінка</label>
        <div class="rating-stars">
            <label>
                <input type="radio" name="Rating" value="1">
                <span class="star text-warning fa-3"><i class="bi bi-star"></i></span>
            </label>
            <label>
                <input type="radio" name="Rating" value="2">
                <span class="star text-warning fa-3"><i class="bi bi-star"></i></span>
            </label>
            <label>
                <input type="radio" name="Rating" value="3">
                <span class="star text-warning fa-3"><i class="bi bi-star"></i></span>
            </label>
            <label>
                <input type="radio" name="Rating" value="4">
                <span class="star text-warning fa-3"><i class="bi bi-star"></i></span>
            </label>
            <label>
                <input type="radio" name="Rating" value="5">
                <span class="star text-warning fa-3"><i class="bi bi-star"></i></span>
            </label>
        </div>
    </div>
*@

    <div class="mb-3">
    <label for="exampleFormControlTextarea2" class="form-label">Оцінка</label>
    <div class="rating-stars">
            <span class="star text-warning fa-3" data-value="1"><i class="bi bi-star"></i></span>
            <span class="star text-warning fa-3" data-value="2"><i class="bi bi-star"></i></span>
            <span class="star text-warning fa-3" data-value="3"><i class="bi bi-star"></i></span>
            <span class="star text-warning fa-3" data-value="4"><i class="bi bi-star"></i></span>
            <span class="star text-warning fa-3" data-value="5"><i class="bi bi-star"></i></span>
    </div>
    <input type="hidden" name="Rating" id="rating-value" value="0">
</div>
    <button type="submit" class="btn btn-secondary">Надіслати</button>
</form>


<script>
    document.addEventListener('DOMContentLoaded', function () {              // вихідний HTML документ повністю завантажився та був розібраний (parse)
        const stars = document.querySelectorAll('.rating-stars .star');
        const ratingValue = document.querySelector('#rating-value');

        stars.forEach(function(star) {
            star.addEventListener('click', function() {
                const value = this.dataset.value;

                stars.forEach(function(s) {
                    if (s.dataset.value <= value) {
                        s.innerHTML = '&#9733;';                 //  повна зірочка
                    } else {
                        s.innerHTML = '&#9734;';                 // порожня
                    }
                });

                ratingValue.value = value;
            });
        });
    });
</script>