@page
@model ASP121.Views.User.SupportModel
@{
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ссылка на E-mail</title>
</head>
<body>

	<h1>Ссылка на E-mail</h1>

	<p>

		<a href="mailto:">Ссылка на E-mail без указания адреса и параметров</a>

	</p>

	<p>

		<a href="mailto:info@example.com?subject=Тема+письма&amp;
            body=Содержание+письма&amp;cc=support@example.com&amp;bcc=admin@example.com">Ссылка на E-mail с указанием адреса и всех параметров</a>

	</p>

</body>
</html>
