﻿html {
    font-size: 14px;   
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;   
}

body {
    margin-bottom: 60px;
    background-color: bisque;
}

table {
    border-collapse: collapse;    
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}

/* Карточка товару */
.card {
    border: none;
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .05);
    transition: box-shadow .2s ease-in-out;
}

 .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
 }

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-title {
    text-decoration: none;
    color: #333;
}

.card-subtitle {
    color: #777;
}

.card-text {
    color: #777;
}

/* Кнопки */
.btn {
    border-radius: 2em;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .05em;
    padding: .8em 1.5em;
    transition: all .2s ease-in-out;
}

    .btn:hover {
        transform: translateY(-2px);
    }

.btn-primary {
    background-color: #FF9900;
    border-color: #FF9900;
    color: #fff;
}

.btn-outline-primary {
    background-color: transparent;
    border-color: #FF9900;
    color: #FF9900;
}

    .btn-outline-primary:hover {
        background-color: #FF9900;
        color: #fff;
    }
